html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
  font-size: 14px;
  line-height: 1.14;
  color: #757575;
  letter-spacing: 0.03em;
  background-color: #ffffff;
}

.container, .footer_all .footer {
  max-width: 1200px;
  margin: 0 auto;
  padding-right: 15px;
  padding-left: 15px;
}

.logo-link, .item-link, .contacts, .address-link, .contact-footer {
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  display: block;
}

.logo {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  color: #2196f3;
}

.item-link {
  position: relative;
  display: block;
}

.item-link, .contacts {
  padding-top: 32px;
  padding-bottom: 32px;
}

.social-links-footer {
  fill: currentColor;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.join-in {
  margin: 0 0 20px 0;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  letter-spacing: 0.03em;
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  padding: 10px 32px;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: #2196f3;
  -webkit-box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
          box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border: none;
}

.display-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.without {
  padding: 0;
  margin: 0;
  list-style: none;
}

.logo {
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;
}

.logo .dark {
  color: #212121;
}

.logo-link {
  margin-right: 93px;
}

.item:not(:last-child) {
  margin-right: 50px;
}

.item-link {
  color: #212121;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover, .item-link:focus {
  color: #2196f3;
}

.active-link {
  color: #2196f3;
}

.active-link::after {
  position: absolute;
  bottom: 0px;
  left: 0;
  content: "";
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: #2196f3;
}

.mr-auto {
  margin-left: auto;
}

.contacts {
  color: #757575;
  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contacts:not(:last-child) {
  margin-right: 30px;
}

.contacts:hover, .contacts:focus {
  color: #2196f3;
}

.contacts .icon {
  margin-right: 10px;
  fill: currentColor;
}

.footer_all {
  background-color: #2f303a;
}

.footer_all .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
      -ms-flex-align: baseline;
          align-items: baseline;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding-top: 60px;
  padding-bottom: 60px;
}

.logo {
  padding-bottom: 20px;
  padding-top: 0;
}

.logo .white {
  color: #ffffff;
}

.address-link {
  margin-bottom: 9px;
  font-style: normal;
  color: #ffffff;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover, .address-link:focus {
  color: #2196f3;
}

.contact-footer {
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact-footer:hover, .contact-footer:focus {
  color: #2196f3;
}

.contact-footer:not(:last-child) {
  margin-bottom: 9px;
}

.social-links-footer {
  color: #ffffff;
  background-color: rgba(255, 255, 255, 0.1);
}

.social-links-footer:not(:last-child) {
  margin-right: 10px;
}

.social-links-footer:hover, .social-links-footer:focus {
  color: #ffffff;
  background-color: #2196f3;
}

.form-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.button {
  padding: 10px 28px;
  margin-left: 12px;
}

.button:hover, .button:focus {
  background-color: #188ce8;
  cursor: pointer;
  -webkit-transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
  transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-join {
  padding: 10px 28px;
  margin-left: 12px;
}

.icon-footer {
  margin-left: 10px;
}

.input-footer {
  height: 50px;
  width: 358px;
  font-size: 16px;
  line-height: 1.25;
  letter-spacing: 0.03em;
  padding: 15px 16px;
  color: rgba(255, 255, 255, 0.6);
  background-color: transparent;
  border: 1px solid rgba(255, 255, 255, 0.3);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
          filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
/*# sourceMappingURL=common.css.map */