.footer_all {
  background-color: $bgc-footer;

  .footer {
    @extend %container;
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding-top: 60px;
    padding-bottom: 60px;
  }
}

// logo

.logo {
  padding-bottom: 20px;
  padding-top: 0;

  .white {
    color: $bgc-pages;
  }
}

// address

.address-link {
  @extend %link;

  margin-bottom: 9px;

  font-style: normal;

  color: $bgc-pages;
  transition: $animation;
  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.contact-footer {
  @extend %link;

  line-height: 1.71;
  letter-spacing: 0.03em;

  color: $address-footer;
  transition: $animation;

  &:hover,
  &:focus {
    color: $color-accent;
  }

  &:not(:last-child) {
    margin-bottom: 9px;
  }
}

// social

.join-in {
  @extend %join-in;
}

.social-links-footer {
  @extend %social-links;
  color: $bgc-pages;
  background-color: $color-link;

  &:not(:last-child) {
    margin-right: 10px;
  }

  &:hover,
  &:focus {
    color: $bgc-pages;
    background-color: $color-accent;
  }
}
// form

.form-footer {
  display: flex;
  flex-direction: column;
}

.button {
  @extend %button;
  padding: 10px 28px;
  margin-left: 12px;

  &:hover,
  &:focus {
    background-color: $color-accent-2;
    cursor: pointer;

    transition: $animation;
  }
}

.btn-join {
  padding: 10px 28px;
  margin-left: 12px;
}

.icon-footer {
  margin-left: 10px;
}

.input-footer {
  height: 50px;
  width: 358px;

  font-size: 16px;
  line-height: 1.25;
  letter-spacing: $letter-spacing;
  padding: 15px 16px;

  color: $address-footer;
  background-color: transparent;
  border: 1px solid $color-border;
  box-sizing: border-box;
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
}
