.container {
  @extend %container;
}

// Логотип

.logo {
  @extend %logo;
  padding-top: 24px;
  padding-bottom: 24px;
  margin: 0;

  .dark {
    color: $color-title;
  }
}

.logo-link {
  @extend %link;

  margin-right: 93px;
}

// Навігація

.item {
  &:not(:last-child) {
    margin-right: 50px;
  }
}

.item-link {
  @extend %link;
  @extend %pos-rel;
  @extend %pad-bot-top;

  color: $color-title;

  font-weight: 500;
  letter-spacing: 0.02em;

  transition: $animation;

  &:hover,
  &:focus {
    color: $color-accent;
  }
}

.active-link {
  color: $color-accent;

  &::after {
    position: absolute;
    bottom: 0px;
    left: 0;

    content: "";
    width: 100%;
    height: 4px;
    border-radius: 2px;

    background-color: $color-accent;
  }
}

// Адреса

.mr-auto {
  margin-left: auto;
}

.contacts {
  @extend %link;
  @extend %pad-bot-top;

  color: $basic-text;

  font-style: normal;
  font-weight: 500;
  letter-spacing: 0.02em;
  transition: $animation;

  &:not(:last-child) {
    margin-right: 30px;
  }

  &:hover,
  &:focus {
    color: $color-accent;
  }

  .icon {
    margin-right: 10px;
    fill: currentColor;
  }
}
