// Шапка
.back-gr {
  @extend %hero-bg;

  background-image: $bg-img-hero, url(../images/header.jpg);
  border-image-repeat: repeat;
}

.hero {
  @extend %container;
  position: relative;
  text-align: center;

  padding: 200px 15px 452px 15px;

  background-size: cover;
}

.het-title {
  max-width: 696px;
  margin: 0 auto 30px;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  letter-spacing: 0.06em;

  color: $bgc-pages;
}
